# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Environment variables
.env

# MLflow
mlflow.db
mlruns/

# Training artifacts
training/mlruns/

# Build
build/

# Logs
*.log

# Docker artifacts
*.tar

# OS files
.DS_Store
Thumbs.db

# Project temp files
structure.txt
response.json

# Kubernetes platform binaries
infra/kubernetes/platform/istio/
infra/kubernetes/platform/istio/bin/

#Serving
serving/api/output.json
