apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iris
  template:
    metadata:
      labels:
        app: iris
    spec:
      containers:
      - name: iris-container
        image: 494722910828.dkr.ecr.us-east-2.amazonaws.com/iris-api:latest
        ports:
        - containerPort: 5000
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"

