apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api
  namespace: prod
spec:
  replicas: 3
  selector:
    matchLabels:
      app: iris
  template:
    metadata:
      labels:
        app: iris
    spec:
      containers:
      - name: iris-container
        image: 494722910828.dkr.ecr.us-east-2.amazonaws.com/iris-api:latest
        ports:
        - containerPort: 5000
        resources:
          requests:
            memory: "512Mi"
            cpu: "300m"
          limits:
            memory: "1Gi"
            cpu: "600m"

