apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-model
  namespace: mlflow

spec:
  replicas: 1

  selector:
    matchLabels:
      app: iris-model

  template:
    metadata:
      labels:
        app: iris-model

    spec:
      containers:
      - name: iris-model
        image: 494722910828.dkr.ecr.us-east-2.amazonaws.com/iris-model:latest

        ports:
        - containerPort: 8080

        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "300m"
