apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: mlflow

spec:
  replicas: 1

  selector:
    matchLabels:
      app: mlflow

  template:
    metadata:
      labels:
        app: mlflow

    spec:
      containers:
      - name: mlflow
        image: python:3.10-slim

        command: ["/bin/sh", "-c"]

        args:
          - |
            pip install --no-cache-dir mlflow==2.12.2 psycopg2-binary boto3 && \
            python -m mlflow server \
              --host 0.0.0.0 \
              --port 5000 \
              --workers 1 \
              --backend-store-uri postgresql://postgres:Test123456@mlflow-db.cxsmaokiu12f.us-east-2.rds.amazonaws.com:5432/mlflow?sslmode=require \
              --default-artifact-root s3://mlflow-artifacts-armando

        ports:
        - containerPort: 5000

        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "512Mi"
            cpu: "300m"
