jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v3


    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'


    - name: Install dependencies
      run: |
        pip install mlflow boto3 awscli


    - name: Download model
      run: |
        mlflow artifacts download \
          --artifact-uri models:/iris-classifier/latest \
          --dst-path ./models


    - name: Build image
      run: |
        docker build -t iris-model .


    - name: Push image
      run: |
        echo "push step"
