name: Deploy Dev

on:
  workflow_dispatch:

jobs:

  deploy:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3

    - name: Download model
      run: |
        mlflow artifacts download \
        --artifact-uri models:/iris-classifier/Staging \
        --dst-path build/

    - name: Build image
      run: docker build -t iris-model build/

    - name: Push image
      run: docker push ...

    - name: Deploy EKS
      run: kubectl apply -f infra/kubernetes/dev/
