name: Deploy Dev

on:
  push:
    branches:
      - dev

  workflow_dispatch:
env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
  MODEL_NAME: iris-classifier

jobs:

  deploy:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3


    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"


    - name: Install dependencies
      run: pip install mlflow boto3 awscli


    # GET LATEST VERSION
    - name: Get model version
      id: version
      run: |

        VERSION=$(python <<EOF
from mlflow.tracking import MlflowClient
import os

client = MlflowClient()
model = os.environ["MODEL_NAME"]

versions = client.get_latest_versions(model)
print(versions[0].version)
EOF
)

        echo "VERSION=$VERSION" >> $GITHUB_ENV
        echo "Model version: $VERSION"


    - name: Download model
      run: |

        mlflow artifacts download \
          --artifact-uri models:/$MODEL_NAME/$VERSION \
          --dst-path ./model


    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}


    - name: Login ECR
      run: |

        aws ecr get-login-password \
        | docker login \
          --username AWS \
          --password-stdin \
          $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com


    - name: Build image
      run: |

        docker build \
          -t iris-model:$VERSION .


    - name: Tag image
      run: |

        docker tag iris-model:$VERSION \
        $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/iris-model:$VERSION


    - name: Push image
      run: |

        docker push \
        $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/iris-model:$VERSION


    - name: Deploy to EKS
      run: |

        aws eks update-kubeconfig \
          --name iris-cluster \
          --region $AWS_REGION

        kubectl set image deployment/iris-api-dev \
          iris-api=$AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/iris-model:$VERSION \
          -n dev

        kubectl rollout status deployment/iris-api-dev -n dev
