name: Deploy Dev

on:
  push:
    branches:
      - dev

jobs:

  deploy:

    runs-on: ubuntu-latest

    environment: dev

    steps:

      - name: Checkout
        uses: actions/checkout@v3


      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}


      - name: Login ECR
        uses: aws-actions/amazon-ecr-login@v1


      - name: Build image
        run: |
          docker build \
            -t iris-model:latest \
            -f serving/iris/Dockerfile \
            .


      - name: Tag image
        run: |
          docker tag iris-model:latest \
          ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/iris-model:latest


      - name: Push image
        run: |
          docker push \
          ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/iris-model:latest


      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --name iris-cluster \
            --region ${{ secrets.AWS_REGION }}


      - name: Deploy to EKS
        run: |
          kubectl apply -f infra/kubernetes/dev/
