name: Deploy Production

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  MODEL_NAME: iris-classifier
  AWS_REGION: ${{ secrets.AWS_REGION }}
  MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod

    steps:

      - uses: actions/checkout@v3


      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"


      - run: pip install mlflow boto3 awscli


      - name: Get production version
        run: |
          python <<EOF >> version.txt
from mlflow.tracking import MlflowClient
import os
client = MlflowClient()
v = client.get_latest_versions(
    os.environ["MODEL_NAME"],
    stages=["Production"]
)
print(v[0].version)
EOF


      - name: Deploy SageMaker
        run: |
          echo "Deploy production model"
