name: Deploy Production

on:
  push:
    branches:
      - main
<<<<<<< HEAD

jobs:

  deploy:

    runs-on: ubuntu-latest

    environment: prod

    steps:

      - name: Checkout
        uses: actions/checkout@v3


      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}


      - name: Login ECR
        uses: aws-actions/amazon-ecr-login@v1


      - name: Build image
        run: |
          docker build \
            -t iris-model:${{ github.sha }} \
            -f serving/iris/Dockerfile \
            .


      - name: Tag image
        run: |
          docker tag iris-model:${{ github.sha }} \
          ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/iris-model:${{ github.sha }}


      - name: Push image
        run: |
          docker push \
          ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/iris-model:${{ github.sha }}


      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --name ml-cluster-v3 \
            --region ${{ secrets.AWS_REGION }}


      - name: Set image tag
        run: |
          sed -i "s|IMAGE_TAG|${{ github.sha }}|g" infra/kubernetes/prod/deployment.yaml


      - name: Deploy to EKS
        run: |
          kubectl apply -f infra/kubernetes/prod/
=======
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - uses: actions/checkout@v3
      - run: echo "Deploy PROD OK"
>>>>>>> qa
