name: Deploy Dev

on:
  push:
    branches:
      - dev

jobs:
  deploy:

    runs-on: ubuntu-latest
    environment: dev

    steps:

      - uses: actions/checkout@v3

      - uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - uses: aws-actions/amazon-ecr-login@v1

      - name: Build
        run: |
          docker build \
          -t iris-model:${{ github.sha }} \
          -f serving/iris/Dockerfile .

      - name: Tag
        run: |
          docker tag iris-model:${{ github.sha }} \
          ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/iris-model:${{ github.sha }}

      - name: Push
        run: |
          docker push \
          ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/iris-model:${{ github.sha }}

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
          --name ml-cluster-v3 \
          --region ${{ secrets.AWS_REGION }}

      - name: Replace tag
        run: |
          sed -i "s|IMAGE_TAG|${{ github.sha }}|g" infra/kubernetes/dev/deployment.yaml

      - name: Deploy
        run: |
          kubectl apply -f infra/kubernetes/dev/
